
* {
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
$color-y: rgb(236, 188, 31);
$estilos: (
    color: white,
    relleno: 10rem,);
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
  header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .encabezado {
     grid-area: header;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     }
     .navbar{
     width: 100%;
     height: 10rem;
     
     }
    
     .nav-item {
     font-size: 1rem;
     list-style: none;
     margin: 1rem;
     justify-content: space-between;
     text-decoration: none;
     padding-left: 1vw;
     padding-right: 1vw;
     
     }
     .nav-item:hover{
        font-size: 1.5rem;
        text-decoration: rgb(41, 41, 122);
        text-decoration: underline;
    }
    .navbar-collapse{
        background: map-get($estilos , color );
    
    }
    
    }
     .logo {
        width: 20vw;
        height: 20vw;
    }
    .logo:hover{
        width: 25vw;
        height: 25vw;
    }
}
.seccion {
    background: $color-y;
    h2 {
        font-size: 40px;
        text-align: center;
        padding: 1rem;
        }
        .collapse{
            width:60% ;
            background-color: map-get($estilos, color);
        }
    .contenedor_carta{ 
        display: flex;
        flex-direction: column;  
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    .carta{
        background-color: map-get($estilos, color);
        margin:1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        font-size: 25px;
        font-style: oblique;
        width: max-content;
        padding: 1rem;  
        
        .img-fluid {
            width: 70vw;
            height: 50vw;
        
        }
        }
        }
      }
section {
    grid-area: main;

   .imagen {
    width: 100%;
    height:20rem;
    }
   .parrafo1 {
    margin: 2rem;
    text-align: center;
    h2 {
    font-size: 40px;
    text-align: center;
    }
    p {
    font-size: 20px;
    }
  }
    .bloque{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2rem;
        flex-wrap: wrap;
        .parrafo2 {
            width: 100%;
            height: auto;
            font-size: 20px;
            line-height: 2.5em;
            display: inline-block;
            margin: 1rem; 
            text-align: center;
        }
        .contenedor__plan {
            width: 100%;
            height: auto;
            display:flex;
            flex-wrap: wrap;
            padding: 0%;
            justify-content:center;
            align-items: center;
            .plan {
                width: 12rem;
                height: 10rem;
                float: center;
                margin: 1rem;
       }
    }
  }
  .contenedor_equipo{
      display: flex;
      flex-direction: row;
      height: auto;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-around;
      margin-top: 2rem;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 2rem;
      background-color:map-get($estilos, color);
      border: 2px, solid, black;
      .contenedor_equipo_item{
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 20rem;
         padding: 2rem;
         border: 1px, solid, blue;
      
       img {
          width: 10rem ;
          height: 10rem;
          margin: 1rem;
         
        border-radius: 15rem;
      }
       img:hover{
          width: 11rem;
          height: 11rem;
      }
      }
  }
}
footer {
    grid-area: footer;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:baseline;
    background-color: rgb(41, 41, 122);
    align-items: center;
    padding: 1rem;
    background: rgb(32,28,68);
    background: -moz-linear-gradient(90deg, rgba(32,28,68,1) 10%, rgba(54,119,133,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(32,28,68,1) 10%, rgba(54,119,133,1) 100%);
    background: linear-gradient(90deg, rgba(32,28,68,1) 10%, rgba(54,119,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#201c44",endColorstr="#367785",GradientType=1);
    .icono {
        width: 5rem;
        height: 5rem;
        padding-top: 3vw;
        margin: 1rem;
    }
    li {
        margin: 1rem;
        text-decoration: none;
        color: white;
        text-emphasis-color: white;
        a {
            margin: 1rem;
            text-decoration: none;
            color: white;
        }
        }
}

.texto {
    margin: 2rem;
    font-size: 20px;
    text-align: center;
}

.contenedor_especialidades{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .img-fluid{
        width: 70vw;
        height: 50vw;
        margin: 1rem;
    }
  }
.formulario{
    width:60%;
    margin: 20%;


form {
    display: flex;
    margin: 3rem;
    line-height: 2em;
    width: max-content;
    font-size: 1rem;
}
}
@media screen and (max-width: 820px){
    .encabezado__menu{
         flex-wrap: wrap; 
    }
    .encabezado__menu li{
         font-size: 1rem;
         padding: 0.5rem;
    }
    .encabezado__logo{
        align-self: flex-start;
    }
    .parrafo2{
        margin: 1rem;
        width: 100%;
        line-height: 2em;
        text-align: center;
        height: min-content;
    }
    .contenedor__plan {
        margin-right: 0px;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center
}
   .icono {
        display: inline-block;
        width: 10vh;
        height: 10vh;
}
    .logo{
            width: 20vw;
            height: 20vw;
        }
}
